resources/dtd/ipk-params.rng

<?xml version="1.0" encoding="UTF-8"?>

<!--
  DTD for SZARP params configuration file.
-->

<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<!--
  Głównym elementem jest element 'param', zawiera on całą strukturę
  konfiguracji parametrów dla danego obiektu.
  Musi on zawierać co najmniej jeden element 'device' oraz może zawierać
  jeden element 'defined' oraz jeden element 'drawdefinable'.
  Atrybuty:
  	version - wymagany, wersja formatu pliku, obecnie obsługiwana
  	to "1.0",
  	read_freq - domyślnie 10, częstotliwość odczytu danych ze
  	sterowników w sekundach,
  	write_freq - domyślnie 10, częstotliwość zapisu danych do
  	sterowników (zadawania parametrów) w sekundach,
  	title - wymagany, nazwa obiektu którego dotyczy konfiguracja,
	ps_address - opcjonalny, adres serwera ustawiającego parametry
	ps_port - opcjonalny, porst serwera ustawiającego parametry
	documentation_base_url - opcjonalny, adres bazowy dokumentacji parametrów
-->

	<define name="params">
		<element name="params" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.params"/>
			<oneOrMore>
				<ref name="device"/>
			</oneOrMore>
			<optional>
				<ref name="defined"/>
			</optional>
			<optional>
				<ref name="drawdefinable"/>
			</optional>
			<optional>
				<ref name="seasons"/>
			</optional>
			<optional>
				<ref name="checker"/>
			</optional>
		</element>
	</define>
	<define name="attlist.params" combine="interleave">
		<attribute name="version">
			<value>1.0</value>
		</attribute>
		<attribute name="read_freq">
			<data type="integer"/>
		</attribute>
		<attribute name="send_freq">
			<data type="integer"/>
		</attribute>
		<attribute name="title">
			<text/>
		</attribute>
		<optional>
			<attribute name="documentation_base_url"/>
		</optional>
		<optional>
			<attribute name="ps_address"/>
		</optional>
		<optional>
			<attribute name="ps_port"/>
		</optional>
		<!-- ipk-icinga -->
		<optional>
			<attribute name="host_template" ns="http://www.praterm.com.pl/SZARP/ipk-icinga"/>
		</optional>
		<optional>
			<attribute name="parent" ns="http://www.praterm.com.pl/SZARP/ipk-icinga"/>
		</optional>
		<optional>
			<attribute name="address" ns="http://www.praterm.com.pl/SZARP/ipk-icinga"/>
		</optional>
	</define>

  <!--
	Element 'device' zawiera opis grupy parametrów obsługiwanej przez
	jednego demona linii. Musi zawierać co najmniej jeden element 'unit'.
	Może też zawierać elementy (na początku) i atrybuty
	z innych przestrzeni nazw.
	Atrybuty:
		daemon - ścieżka do demona linii odpowiedzialnego za
		obsługę opisywanej linii komunikacyjnej,
		path - ścieżka do urządzenia związanego z linią
		(najczęściej odpowiedniego portu szeregowego),
		speed - prędkość portu szeregowego w bodach,
		stop - ilość bitów stopu - 1 lub 2,
		protocol - wersja protokołu (obecnie 0 lub 1), parametr ma
		znaczenie dla niektórych demonów linii,
		special - specjalna wartość dla niektórych linii (w starej
		konfiguracji pierwsza linia w pliku line<x>.cfg), np. dla
		uproszczonego protokołu RS232 bez adresowania linii (liczba).
  -->

	<define name="device">
		<element name="device" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.device"/>
			<choice>
				<oneOrMore>
					<ref name="unit"/>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="attlist.device" combine="interleave">
		<attribute name="daemon">
			<text/>
		</attribute>
		<optional>
			<attribute name="path">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="speed">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="parcook_device">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="sec_period">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="usec_period">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="stop">
				<choice>
					<value>1</value>
					<value>2</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="special">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="moxa_port"/>
		</optional>
		<optional>
			<attribute name="ip_addr"/>
		</optional>
		<optional>
			<attribute name="options"/>
		</optional>
		<!-- ipk-extra -->
		<optional>
			<attribute name="packet" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="bittime" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="dev_name" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="SendDelay" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="protocol" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="atc-ip" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="StopBits" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>0</value>
					<value>1</value>
					<value>2</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="precision" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-data-port" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-cmd-port" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="opc_server" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="pyro_host" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="pyro_port" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="zerond" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>yes</value>
					<value>no</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="CheckCRC" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>enable</value>
					<value>disable</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="ReceiveTimeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="docpath" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="OpenPortEveryTime" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>yes</value>
					<value>no</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="databits" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="byte_interval" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="slot" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="id" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="mode" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>master</value>
					<value>slave</value>
					<value>client</value>
					<value>server</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="address" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="frequency" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="DelayBetweenChars" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="delay_between_chars" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="rack" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<value>0</value>
			</attribute>
		</optional>
		<optional>
			<attribute name="delay_between_requests" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="stopbits" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>0</value>
					<value>1</value>
					<value>2</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="ip" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="tcp-ip" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="port" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="daemon-mode" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>tcp-server</value>
					<value>tcp-client</value>
					<value>serial-server</value>
					<value>serial-client</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-mode" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>client</value>
					<value>server</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="read_freq" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="appname" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="uri" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="parity" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>EVEN</value>
					<value>NONE</value>
					<value>ODD</value>
					<value>even</value>
					<value>none</value>
					<value>odd</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-port" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-allowed" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-address" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-keepalive" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>yes</value>
					<value>no</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="nodata-timeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="nodata-value" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-timeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="expire" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<!-- ipk-icinga -->
		<optional>
			<attribute name="no_data_timeout" ns="http://www.praterm.com.pl/SZARP/ipk-icinga">
				<data type="integer"/>
			</attribute>
		</optional>
	</define>


  <!--
	Element 'unit' opisuje jednostkę komunikacji. Zawiera co najmniej jeden
	elemen 'param' lub 'send'.
	Atrybuty:
		id - wymagany, identyfikator jednostki - pojedynczy znak ASCII
		unikalny w obrębie linii komunikacyjnej,
		type - wymagany, typ raportu - wartość interpretowana przez
		sterownik (liczba),
		subtype - wymagany, podtyp raportu, wartość interpetowana przez
		sterownik (liczba),
		bufsize - wielkość bufora uśredniania dla parametrów w bajtach.
  -->

	<define name="unit">
		<element name="unit" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.unit"/>
			<oneOrMore>
				<choice>
					<ref name="param"/>
					<ref name="send"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="attlist.unit" combine="interleave" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
		<attribute name="id"/>
		<attribute name="type">
			<data type="integer"/>
		</attribute>
		<attribute name="subtype">
			<data type="integer"/>
		</attribute>
		<attribute name="bufsize">
			<data type="integer"/>
		</attribute>
		<optional>
			<attribute name="hdd_temp_port">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="moxa_port"/>
		</optional>
		<optional>
			<attribute name="ip_addr"/>
		</optional>
		<!-- ipk-extra -->
		<optional>
			<attribute name="limits" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="docpath" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="CheckCRC" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>enable</value>
					<value>disable</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="ReceiveTimeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="const_speed" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="SendDelay" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="proto" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>zet</value>
					<value>datapaf</value>
					<value>lumel</value>
					<value>fp210</value>
					<value>wmtp</value>
					<value>modbus</value>
					<value>fc</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="optical" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>true</value>
					<value>false</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="mode" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>master</value>
					<value>slave</value>
					<value>client</value>
					<value>server</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="dev_name" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="nodata-value" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="medium" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>tcp</value>
					<value>serial</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="inter-unit-query" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="path" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="timeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="inter-unit-delay" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="query-interval" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="port" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="max_read_attempts" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="read_timeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="read-timeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="char_size" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="serial_protocol_variant" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>ascii</value>
					<value>rtu</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="stopbits" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>0</value>
					<value>1</value>
					<value>2</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="parity" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>EVEN</value>
					<value>NONE</value>
					<value>ODD</value>
					<value>even</value>
					<value>none</value>
					<value>odd</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="use_tcp_2_serial_proxy" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>yes</value>
					<value>no</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-address" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="tcp-port" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="tcp-allowed" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="id" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="speed" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="plc" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>zet</value>
					<value>sk</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="single-register-pdu" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>0</value>
					<value>1</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="DoubleOrder" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>msdlsd</value>
					<value>lsdmsd</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="FloatOrder" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>msblsb</value>
					<value>lsbmsb</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="nodata-timeout" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="address" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<!-- ipk-icinga -->
		<optional>
			<attribute name="no_data_timeout" ns="http://www.praterm.com.pl/SZARP/ipk-icinga">
				<data type="integer"/>
			</attribute>
		</optional>
	</define>

  <!--
	Element 'param' opisuje konkretny parametr. Moze zawierac jeden element
	'define' oraz elementy 'value', 'raport', 'draw'. Może też zawierać
	elementy (na ostatniej pozycji) i atrybuty z innych przestrzeni nazw.
	Atrybuty:
		name - wymagany, pełna tekstowa nazwa parametru, powinna
		zawierać trzy człony oddzielone dwukropkami, poza dwukropkami
		może zawierać dowolne znaki, zaleca się jednak ograniczyć do
		liter (mogą być polskie) i cyfr, nazwa MUSI być unikalna w
		obrębie całej konfiguracji,
		short_name - wymagany, nazwa skrócona (do 4 znaków), dowolna
		draw_name - nazwa krótka używana jako nazwa wykresu, powinna
		mieć do 20 znaków, jeżeli jest pusta będzie używana nazwa
		pełna,
		unit - wymagana, nazwa jednostki, domyślnie '-' (brak jednostki),
		base_ind - indeks w bazie, liczba nieujemna dla starego formatu
		bazy, "auto" dla nowego formatu bazy, jeśli nie występuje,
		oznacza to że parametr nie jest zapisywany do bazy,
		prec - dla parametrów liczbowych - ilość miejsc po przecinku,
		tobase - atrybut nie powinien występować w konfiguracjach, ale
	jest obecny w szablonach, więc został uwzględniony w DTD
  -->

	<define name="param">
		<element name="param" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.param"/>
			<interleave>
				<zeroOrMore>
					<ref name="value"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="define"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="script"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="editable"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="raport"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="draw"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="doc"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>
	<define name="attlist.param" combine="interleave">
		<attribute name="name">
			<text/>
		</attribute>
		<optional>
			<attribute name="short_name">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="unit"/>
		</optional>
		<optional>
			<attribute name="prec">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="draw_name">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="base_ind">
				<value>auto</value>
			</attribute>
		</optional>
		<optional>
			<attribute name="forbidden"/>
		</optional>
		<optional>
			<attribute name="ip_addr"/>
		</optional>
		<optional>
			<attribute name="data_type">
				<choice>
					<value>short</value>
					<value>ushort</value>
					<value>integer</value>
					<value>uinteger</value>
					<value>float</value>
					<value>double</value>
				</choice>
			</attribute>
		</optional>
		<!-- ipk-icinga -->
		<optional>
			<attribute name="no_data_timeout" ns="http://www.praterm.com.pl/SZARP/ipk-icinga">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="min" ns="http://www.praterm.com.pl/SZARP/ipk-icinga">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="max" ns="http://www.praterm.com.pl/SZARP/ipk-icinga">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="flat_time" ns="http://www.praterm.com.pl/SZARP/ipk-icinga">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="test_param" ns="http://www.praterm.com.pl/SZARP/ipk-icinga"/>
		</optional>
		<!-- ipk-extra -->
		<optional>
			<attribute name="export" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="parameter-number" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="divisor" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="number" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="parname" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="lswmsw" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>MSW</value>
					<value>LSW</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="ip" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="tag" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="id" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="param" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="transform" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>lsw</value>
					<value>msw</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="prec" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="devid" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="special" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<value>prev</value>
			</attribute>
		</optional>
		<optional>
			<attribute name="val_op2" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>MSD</value>
					<value>LSD</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="DoubleOrder" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>msdlsd</value>
					<value>lsdmsd</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="FloatOrder" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>msblsb</value>
					<value>lsbmsb</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>lsb</value>
					<value>msb</value>
					<value>string</value>
					<value>integer</value>
					<value>single</value>
					<value>float</value>
					<value>bcd</value>
					<value>short_float</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="word" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>lsw</value>
					<value>msw</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="topic" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>InTouch</value>
					<value>Tagname</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="db" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="db_type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<value>db</value>
			</attribute>
		</optional>
		<optional>
			<attribute name="multiplier" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="register" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="item" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="function" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<text/>
			</attribute>
		</optional>
		<optional>
			<attribute name="val_type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>byte</value>
					<value>short</value>
					<value>ushort</value>
					<value>integer</value>
					<value>uinteger</value>
					<value>real</value>
					<value>float</value>
					<value>long</value>
					<value>double</value>
					<value>bit</value>
					<value>word</value>
					<value>decimal2</value>
					<value>decimal3</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="address" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="register_type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>holding_register</value>
					<value>input_register</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="probe-type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>PT_SEC10</value>
					<value>PT_MIN10</value>
					<value>PT_HOUR</value>
					<value>PT_HOUR8</value>
					<value>PT_DAY</value>
					<value>PT_WEEK</value>
					<value>PT_MONTH</value>
					<value>PT_YEAR</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="val_op" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>MSW</value>
					<value>msw</value>
					<value>LSW</value>
					<value>lsw</value>
				</choice>
			</attribute>
		</optional>
	</define>

  <!--
	Element 'value' opisuje dostępne wartości dla parametrów
	nieliczbowych i odpowiadające im wartości liczbowe (np "Tak" - 1, "Nie
	- 0). Pojedyczny element opisuje jedną wartość.
	Atrybuty:
		int - wymagany, wartość liczbowa (w bazie lub pamięci
		dzielonej),
		name - opis wartości widoczny np. w raportach.
  -->

	<define name="value">
		<element name="value" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.value"/>
			<empty/>
		</element>
	</define>
	<define name="attlist.value" combine="interleave">
		<attribute name="int">
			<data type="integer"/>
		</attribute>
		<attribute name="name">
			<text/>
		</attribute>
	</define>

  <!--
	Element 'define' występujący w parametrze oznacza, że dany parametr
	jest parametrem definiowalnym, wyliczanym na podstawie innych.
	Atrybuty:
		type - wymagany, określa typ formuły, obecnie dostępne są
		dwa typy:
		"RPN" - standardowa formuła SZARP'a 2.1 w odwrotnej notacji
		polskiej, z liczbami zapisywanymi normalnie, a odwołania do
		wartości parametrów mają postać pełnej nazwy parametru w
		nawiasie, przy czym zamiast członu nazwy może wystąpić '*',
		oznaczająca skopiowanie członu nazwy z parametru macierzystego,
		jest wyliczany przez parcook'a i dostępny z pamięci dzielonej,
		"DRAWDEFINABLE" - parametr wyliczany przez przeglądającego,
		nieobecny w pamięci dzielonej ani w bazie, formula także w
		postaci ONP, ale z trochę innym zestawem operatorów, w SZARP
		2.1 opisany w pliku definable.cfg, parametry tego typu mogą
		występować tylko wewnątrz elementu 'drawdefinable'
		formula - domyślnie "null" - formuła do wyliczania wartości
		parametru.
	lua_formula - określa sposób w jaki ma być liczona wartość średnia
		parametru zapisnego w LUA:
		"va" - oznacza ze wartość średnia jest liczona na podstaiwe
		wartości średnich parametrów od których formuła zeleży
		(tak zachowywały się tzw. 'stare definiowalne')
		"av" - oznacza że wartośc średnia jest liczona jako
		uśrednie wartości formuły dla wszystkich
		próbek z zadanego przedziału czasu ('nowe definiowalne')
	new_def - opcjonalny, jesli ustawiony na 'yes' parametr DRAWDEFINABLE
		powinien być liczony w nowy sposób, brak atrubutu odczytywane
		jest jako 'no'
	Przykład parametru definiowalnego:

	<param name="Kocioł 1:Waga:stosunek energia / masa"
		short_name="Km" draw_name="Stos. energia/masa" unit="MWh/t" prec="3"
		base_ind="40">
		<define type="RPN" formula="(*:*:stosunek energia /objętość;) 1000 * (*:*:masa nasypowa
		   w&#x119;gla) / "/>
	</param>

  -->

	<define name="define">
		<element name="define" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.define"/>
			<interleave>
				<zeroOrMore>
					<ref name="script"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="doc"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>
	<define name="attlist.define" combine="interleave">
		<attribute name="type">
			<choice>
				<value>RPN</value>
				<value>DRAWDEFINABLE</value>
				<value>LUA</value>
			</choice>
		</attribute>
		<optional>
			<choice>
				<attribute name="formula"/>
				<attribute name="lua_formula">
					<choice>
						<value>va</value>
						<value>av</value>
					</choice>
				</attribute>
			</choice>
		</optional>
		<optional>
			<attribute name="lua_start_date_time"/>
		</optional>
		<optional>
			<attribute name="lua_start_offset"/>
		</optional>
		<optional>
			<attribute name="lua_end_offset"/>
		</optional>
		<optional>
			<attribute name="start_date"/>
		</optional>
		<optional>
			<attribute name="new_def"/>
		</optional>
	</define>

	<define name="script">
		<element name="script" ns="http://www.praterm.com.pl/SZARP/ipk">
			<text/>
		</element>
	</define>

  <!--
    Element 'editable' ??? PROFIT
  -->

	<define name="editable">
		<element name="editable" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
			<ref name="attlist.editable"/>
			<empty />
		</element>
	</define>
	<define name="attlist.editable" combine="interleave">
		<attribute name="min"/>
		<attribute name="max"/>
		<attribute name="time"/>
	</define>

  <!--
	Element 'raport' opisuje wystąpienie parametru w raporcie. Jeden
	parametr może mieć wiele elementów 'raport', będzie więc widoczny w
	wielu raportach.
	Atrybuty:
		title - wymagany, tytuł raportu, jest jednocześnie
		identyfikatorem raportu, więc różne raporty muszą mieć różne
		tytuły,
		descr - opis parametru w raporcie, jeżeli nie występuje, to
		jako opis używana jest ostatnia część nazwy parametru,
		order - liczba rzeczywista, określa kolejność parametru w
		raporcie, im mniejsza tym wyżej w raporcie znajdzie się
		parametr, parametry bez tego atrybutu są ustawiane za tymi
		z priorytetem,
		filename - nazwa pliku z raportem, jeżeli jej nie ma, to użyty
		będzie tytuł, atrybut ten w przyszłości może zostać usunięty.
  -->

	<define name="raport">
		<element name="raport" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.raport"/>
			<empty/>
		</element>
	</define>
	<define name="attlist.raport" combine="interleave">
		<attribute name="title"/>
		<optional>
			<attribute name="description"/>
		</optional>
		<optional>
			<attribute name="order"/>
		</optional>
		<optional>
			<attribute name="filename"/>
		</optional>
	</define>

  <!--
	Opis wykresu. Podobnie jak z raportami parametr może występować w wielu
	wykresach.
	Atrybuty:
		title - wymagany, nazwa okna z wykresami (grupy wykresów),
		max - maksymalna wartość parametru (górny zakres osi), liczba
		rzeczywista, obecnie wymagana,
		min - minimalna wartość parametru (dolny zakres osi), liczba
		rzeczywista, obecnie wymagana,
		scale - parametr określający jaka część wykresu ma być
		przeskalowana do zakresu podanego przez następne atrybuty,
		jeżeli jest równy 0 lub nieobecny, przeskalowanie nie
		występuje, podawany w procentach,
		minscale, maxscale - dolny i górny zakres wartości ulegających
		przeskalowaniu (liczby rzeczywiste),
		color - kolor wykresu, podany jako stała tekstowa lub wartość
		RGB w postaci szesnastkowej, np. 'Red' lub '#FF1123', jeżeli
		jest nieobecny kolor zostanie dobrany automatycznie
		special - atrybut specjalny, domyślnie 'none', inne to:
			piedraw - parametr jest liczony do wykresu kołowego
			hoursum - parametr jest liczony do sumowania
			godzinowego
			valve - zawory, atrybut dla kompatybilności wstecz
			rel - jeśli w oknie są dwa wykresy, to w oknie
			dodatkowym pojawi się wyliczenie stosunku wartości
			parametrów z wykresów
			diff - w oknie dodatkowym pojawia się różnica wartości
			końcowej i początkowej dla wykresu.
		Dokładny opis znaczenia atrybutów specjalnych znajduje się w
		pliku resources/dcoumentation/draw.ekran.README.html.
		prior - priorytet okna zawierającego wykres - liczba
		zmiennoprzecinkowa dodatnia, im mniejsza tym wyżej będzie okno
		na liście w programie przeglądającym
		order - jak prior, ale dotyczy kolejności wykresu w oknie
  -->

	<define name="draw">
		<element name="draw" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.draw"/>
			<zeroOrMore>
				<ref name="treenode"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="attlist.draw" combine="interleave">
		<attribute name="title"/>
		<optional>
			<attribute name="max">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="min">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="scale">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="minscale">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="maxscale">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="color"/>
		</optional>
		<optional>
			<attribute name="prior">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="order">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="special" a:defaultValue="none">
				<choice>
					<value>piedraw</value>
					<value>hoursum</value>
					<value>valve</value>
					<value>rel</value>
					<value>diff</value>
					<value>none</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="new_def">
				<choice>
					<value>yes</value>
					<value>no</value>
				</choice>
			</attribute>
		</optional>
	</define>

  <!--
	Element 'treenode' jest to podelement elementu draw lub treenode, służy do umieszczenia
	zestawu wykresów w drzewie.
	Atrybuty:
	  prior - określa priorytet tego węzła wśród jego braci, funkcjonuje to identycznie
	  jak element prior w elementach draw
	  draw_prior - określa priorytet zestawu ojca w węźle definiowanym przez ten element,
	  ma tylko sens w przypadku elementów których bezpośrednim ojcem jest element draw
  -->
	<define name="treenode">
		<element name="treenode" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.treenode"/>
			<optional>
				<ref name="treenode"/>
			</optional>
		</element>
	</define>

	<define name="attlist.treenode">
		<attribute name="name"/>
		<optional>
			<attribute name="prior">
				<data type="double"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="draw_prior">
				<data type="double"/>
			</attribute>
		</optional>
	</define>

  <!-- Dokumentacja -->

	<define name="doc">
		<element name="doc" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
			<ref name="attlist.doc"/>
			<text/>
		</element>
	</define>
	<define name="attlist.doc" combine="interleave">
		<optional>
			<attribute name="hidden">
				<choice>
					<value>true</value>
					<value>false</value>
				</choice>
			</attribute>
		</optional>
	</define>

  <!--
	Element 'send' opisuje parametr wysyłany do sterownika. Może zawierać
	elementy i atrybuty z przestrzeni innych przestrzeni nazw.
	Atrybuty:
		param - nazwa parametru, którego wartość ma być wysyłana, musi
		istnieć parametr o takie nazwie, wymagany,
		type - rodzaj wysyłanych danych - próbka (domyślnie) lub
		średnia podanego rodzaju,
		repeat - ilość powtórzeń jeżeli sterownik nie potwierdził
		przyjęcia parametru.
		send_no_data - jeśli atrybut jest obecny, to sender wysyła do
		sterownika NO_DATA, jeśli nie, to w przypadku braku danych nic
		nie wysyła
  -->

	<define name="send">
		<element name="send" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.send"/>
		</element>
	</define>
	<define name="attlist.send" combine="interleave">
		<choice>
			<attribute name="param"/>
			<attribute name="value"/>
		</choice>
		<optional>
			<attribute name="type">
				<choice>
					<value>probe</value>
					<value>min</value>
					<value>min10</value>
					<value>hour</value>
					<value>day</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="repeat"/>
		</optional>
		<optional>
			<attribute name="send_no_data"/>
		</optional>
		<optional>
			<attribute name="prec">
				<data type="integer"/>
			</attribute>
		</optional>
		<!-- ipk-extra -->
		<optional>
			<attribute name="number" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="val_type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>byte</value>
					<value>short</value>
					<value>ushort</value>
					<value>integer</value>
					<value>uinteger</value>
					<value>real</value>
					<value>float</value>
					<value>long</value>
					<value>double</value>
					<value>bit</value>
					<value>word</value>
					<value>decimal2</value>
					<value>decimal3</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>lsb</value>
					<value>msb</value>
					<value>string</value>
					<value>integer</value>
					<value>single</value>
					<value>float</value>
					<value>bcd</value>
					<value>short_float</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="prec" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="combined" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>MSW</value>
					<value>LSW</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="val_op" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<choice>
					<value>MSW</value>
					<value>msw</value>
					<value>LSW</value>
					<value>lsw</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="address" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="function" ns="http://www.praterm.com.pl/SZARP/ipk-extra"/>
		</optional>
		<optional>
			<attribute name="db" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<data type="integer"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="db_type" ns="http://www.praterm.com.pl/SZARP/ipk-extra">
				<value>db</value>
			</attribute>
		</optional>
	</define>

  <!-- element defined zawiera definicje parametrów definiowalnych parcooka -->

	<define name="defined">
		<element name="defined" ns="http://www.praterm.com.pl/SZARP/ipk">
			<ref name="attlist.defined"/>
			<zeroOrMore>
				<ref name="param"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="attlist.defined" combine="interleave">
		<empty/>
	</define>

  <!-- element drawdefinable zawiera definicje parametrów definiowalnych
  przeglądającego -->

	<define name="drawdefinable" ns="http://www.praterm.com.pl/SZARP/ipk">
		<element name="drawdefinable">
			<ref name="attlist.drawdefinable"/>
			<zeroOrMore>
				<ref name="param"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="attlist.drawdefinable">
		<empty/>
	</define>

  <!-- Element 'seasons' opisuje sezony letnie, moze zawierac dowolna ilosc
	elementow 'season' opisujacych sezony dla poszczegolnych lat.
	Element 'seasons' musi zawierac nastepujace atrybuty:
  	month_start - miesiac, w ktorym zaczyna sie sezon letni - liczba z przedzialu (1-12)
	day_start - dzien, w ktorym zaczyna sie sezon letni - liczba z przedialu (1-31)
	month_end - miesiac, w ktorym konczy sie sezon letni - liczba z przedzialu (1-12)
	day_end - miesiac , w ktorym konczy sie sezon letni - liczba z przedialu (1-31)
	Atrybuty elementu seasons definiuja domyslne granice sezonu letniego uzywane, jezeli
	dla danego roku granice te nie sa okresolne za pomoca elementu 'season'.

	Element 'season' zawiera taki same atrybuty jak element 'seasons' oraz dodatkowy atrybut
	'year' okreslajacy rok, ktorego definicja sezonu dotyczy.
  -->

	<define name="seasons" combine="interleave">
		<element name="seasons" ns="http://www.praterm.com.pl/SZARP/ipk">
			<attribute name="month_start"/>
			<attribute name="day_start"/>
			<attribute name="month_end"/>
			<attribute name="day_end"/>
			<zeroOrMore>
				<element name="season" ns="http://www.praterm.com.pl/SZARP/ipk">
					<attribute name="month_start"/>
					<attribute name="day_start"/>
					<attribute name="month_end"/>
					<attribute name="day_end"/>
					<attribute name="year"/>
				</element>
			</zeroOrMore>
		</element>
	</define>

  <!-- Checker -->

	<define name="checker">
		<element name="rules" ns="http://www.praterm.com.pl/SZARP/ipk-checker">
			<ref name="attlist.rules"/>
			<zeroOrMore>
			<element name="rule">
				<ref name="attlist.rule"/>
				<text/>
			</element>
			</zeroOrMore>
		</element>
	</define>
	<define name="attlist.rules" combine="interleave">
		<empty/>
	</define>
	<define name="attlist.rule" combine="interleave">
		<attribute name="name" ns="http://www.praterm.com.pl/SZARP/ipk-checker"/>
	</define>

  <!-- Główny tag dokumentu -->

	<start>
		<choice>
			<ref name="params"/>
		</choice>
	</start>

</grammar>
