resources/dtd/ipk-params.rng

<?xml version="1.0" encoding="ISO-8859-2"?>

<!--
  SZARP (C) 2002 Pawe³ Pa³ucha
  pawel@praterm.com.pl
  
  DTD for SZARP params configuration file.
  
  $Id: ipk-params.rng 6723 2009-05-15 13:52:04Z reksio $
-->


<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">

<!--
  G³ównym elementem jest element 'param', zawiera on ca³± strukturê
  konfiguracji parametrów dla danego obiektu.
  Musi on zawieraæ co najmniej jeden element 'device' oraz mo¿e zawieraæ
  jeden element 'defined' oraz jeden element 'drawdefinable'.
  Atrybuty:
  	version - wymagany, wersja formatu pliku, obecnie obs³ugiwana
  	to "1.0",
  	read_freq - domy¶lnie 10, czêstotliwo¶æ odczytu danych ze
  	sterowników w sekundach,
  	write_freq - domy¶lnie 10, czêstotliwo¶æ zapisu danych do
  	sterowników (zadawania parametrów) w sekundach,
  	title - wymagany, nazwa obiektu którego dotyczy konfiguracja,
	ps_address - opcjonalny, adres serwera ustawiaj±cego parametry
	ps_port - opcjonalny, porst serwera ustawiaj±cego parametry
-->

  <define name="params">
    <element name="params" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.params"/>
      <oneOrMore>
        <ref name="device"/>
      </oneOrMore>
      <optional>
        <ref name="defined"/>
      </optional>
      <optional>
        <ref name="drawdefinable"/>
      </optional>
      <optional>
        <ref name="boilers"/>
      </optional>
      <optional>
        <ref name="seasons"/>
      </optional>
      <zeroOrMore>
        <ref name="extra"/>
      </zeroOrMore>

    </element>
  </define>
  <define name="attlist.params" combine="interleave">
    <attribute name="version"/>
    <optional>
      <attribute name="read_freq" a:defaultValue="10"/>
    </optional>
    <optional>
      <attribute name="send_freq" a:defaultValue="10"/>
    </optional>
    <optional>
      <attribute name="title"/>
    </optional>
    <optional>
      <attribute name="documentation_base_url"/>
    </optional>
    <optional>
      <attribute name="ps_address"/>
    </optional>
    <optional>
      <attribute name="ps_port"/>
    </optional>
    <zeroOrMore>
      <ref name="extra-attribute"/>
    </zeroOrMore>
  </define>
  
  <!--
    Element 'device' zawiera opis grupy parametrów obs³ugiwanej przez
    jednego demona linii. Musi zawieraæ co najmniej jeden element 'radio'
    albo co najmniej jeden element 'unit'. Mo¿e te¿ zawieraæ elementy (na
    pocz±tku) i atrybuty z innych przestrzeni nazw.
    Atrybuty:
    	daemon - ¶cie¿ka do demona linii odpowiedzialnego za 
    	obs³ugê opisywanej linii komunikacyjnej,
    	path - ¶cie¿ka do urz±dzenia zwi±zanego z lini±
    	(najczê¶ciej odpowiedniego portu szeregowego),
    	speed - prêdko¶æ portu szeregowego w bodach,
    	stop - ilo¶æ bitów stopu - 1 lub 2,
    	protocol - wersja protoko³u (obecnie 0 lub 1), parametr ma
    	znaczenie dla niektórych demonów linii,
    	special - specjalna warto¶æ dla niektórych linii (w starej
    	konfiguracji pierwsza linia w pliku line<x>.cfg), np. dla
    	uproszczonego protoko³u RS232 bez adresowania linii (liczba).
  -->
  
  <define name="device">
    <element name="device" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.device"/>
      <zeroOrMore>
        <ref name="extra"/>
      </zeroOrMore>
      <choice>
        <oneOrMore>
          <ref name="radio"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="unit"/>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <define name="attlist.device" combine="interleave">
    <optional>
      <attribute name="daemon"/>
    </optional>
    <optional>
      <attribute name="path"/>
    </optional>
    <optional>
      <attribute name="speed"/>
    </optional>
    <optional>
      <attribute name="stop">
        <choice>
          <value>1</value>
          <value>2</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="protocol"/>
    </optional>
    <optional>
      <attribute name="special"/>
    </optional>
    <optional>
      <attribute name="options"/>
    </optional>
    <zeroOrMore>
      <ref name="extra-attribute"/>
    </zeroOrMore>
  </define>
  
  <!--
    Element 'radio' zawiera opis pojedynczej linii radiowej (modemu
    radiowego). Musi zawieraæ co najmniej jeden element 'unit'.
    Atrybuty:
    	id - wymagany, identyfikator u¿ywany przez modem radiowy.
  -->
  
  <define name="radio">
    <element name="radio" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.radio"/>
      <oneOrMore>
        <ref name="unit"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.radio" combine="interleave">
    <attribute name="id"/>
  </define>
  
  <!--
    Element 'unit' opisuje jednostkê komunikacji. Zawiera co najmniej jeden
    elemen 'param' lub 'send'.
    Atrybuty:
    	id - wymagany, identyfikator jednostki - pojedynczy znak ASCII
    	unikalny w obrêbie linii komunikacyjnej,
    	type - wymagany, typ raportu - warto¶æ interpretowana przez
    	sterownik (liczba),
    	subtype - wymagany, podtyp raportu, warto¶æ interpetowana przez
    	sterownik (liczba),
    	bufsize - wielko¶æ bufora u¶redniania dla parametrów w bajtach.
  -->
  
  <define name="unit">
    <element name="unit" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.unit"/>
      <oneOrMore>
        <choice>
          <ref name="param"/>
          <ref name="send"/>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="extra"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.unit" combine="interleave">
    <attribute name="id"/>
    <attribute name="type"/>
    <attribute name="subtype"/>
    <attribute name="bufsize"/>
    <zeroOrMore>
      <ref name="extra-attribute"/>
    </zeroOrMore>
  </define>
  
  <!--
    Element 'param' opisuje konkretny parametr. Moze zawierac jeden element
    'define' oraz elementy 'value', 'raport', 'draw', 'analysis'. Mo¿e te¿ zawieraæ
    elementy (na ostatniej pozycji) i atrybuty z innych przestrzeni nazw.
    Atrybuty:
    	name - wymagany, pe³na tekstowa nazwa parametru, powinna
    	zawieraæ trzy cz³ony oddzielone dwukropkami, poza dwukropkami
    	mo¿e zawieraæ dowolne znaki, zaleca siê jednak ograniczyæ do
    	liter (mog± byæ polskie) i cyfr, nazwa MUSI byæ unikalna w
    	obrêbie ca³ej konfiguracji,
    	short_name - wymagany, nazwa skrócona (do 4 znaków), dowolna
    	draw_name - nazwa krótka u¿ywana jako nazwa wykresu, powinna
    	mieæ do 20 znaków, je¿eli jest pusta bêdzie u¿ywana nazwa
    	pe³na,
    	unit - wymagana, nazwa jednostki, domy¶lnie '-' (brak jednostki),
    	base_ind - indeks w bazie, liczba nieujemna dla starego formatu
    	bazy, "auto" dla nowego formatu bazy, je¶li nie wystêpuje,
    	oznacza to ¿e parametr nie jest zapisywany do bazy,
    	prec - dla parametrów liczbowych - ilo¶æ miejsc po przecinku,
    	tobase - atrybut nie powinien wystêpowaæ w konfiguracjach, ale
	jest obecny w szablonach, wiêc zosta³ uwzglêdniony w DTD
  -->
  
  <define name="param">
    <element name="param" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.param"/>
      <zeroOrMore>
        <ref name="value"/>
      </zeroOrMore>
      <optional>
        <ref name="define"/>
      </optional>
      <zeroOrMore>
        <ref name="raport"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="draw"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="analysis"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="extra"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.param" combine="interleave">
    <attribute name="name"/>
    <attribute name="short_name"/>
    <optional>
      <attribute name="draw_name"/>
    </optional>
    <optional>
      <attribute name="unit" a:defaultValue="-"/>
    </optional>
    <optional>
      <attribute name="base_ind"/>
    </optional>
    <optional>
      <attribute name="prec"/>
    </optional>
    <optional>
      <attribute name="tobase"/>
    </optional>
    <optional>
      <attribute name="sum_unit"/>
    </optional>
    <optional>
      <attribute name="sum_divisor" a:defaultValue="6"/>
    </optional>
    <zeroOrMore>
      <ref name="extra-attribute"/>
    </zeroOrMore>
  </define>
  <!--
    Element 'define' wystêpuj±cy w parametrze oznacza, ¿e dany parametr
    jest parametrem definiowalnym, wyliczanym na podstawie innych.
    Atrybuty:
    	type - wymagany, okre¶la typ formu³y, obecnie dostêpne s±
    	dwa typy:
    	"RPN" - standardowa formu³a SZARP'a 2.1 w odwrotnej notacji
    	polskiej, z liczbami zapisywanymi normalnie, a odwo³ania do
    	warto¶ci parametrów maj± postaæ pe³nej nazwy parametru w 
    	nawiasie, przy czym zamiast cz³onu nazwy mo¿e wyst±piæ '*',
    	oznaczaj±ca skopiowanie cz³onu nazwy z parametru macierzystego,
    	jest wyliczany przez parcook'a i dostêpny z pamiêci dzielonej,
    	"DRAWDEFINABLE" - parametr wyliczany przez przegl±daj±cego,
    	nieobecny w pamiêci dzielonej ani w bazie, formula tak¿e w
    	postaci ONP, ale z trochê innym zestawem operatorów, w SZARP
    	2.1 opisany w pliku definable.cfg, parametry tego typu mog±
    	wystêpowaæ tylko wewn±trz elementu 'drawdefinable'
    	formula - domy¶lnie "null" - formu³a do wyliczania warto¶ci
    	parametru.
	lua_formula - okre¶la sposób w jaki ma byæ liczona warto¶æ ¶rednia
		parametru zapisnego w LUA:
		"va" - oznacza ze warto¶æ ¶rednia jest liczona na podstaiwe
		warto¶ci ¶rednich parametrów od których formu³a zele¿y
		(tak zachowywa³y siê tzw. 'stare definiowalne')
		"av" - oznacza ¿e warto¶c ¶rednia jest liczona jako 
		u¶rednie warto¶ci formu³y dla wszystkich
		próbek z zadanego przedzia³u czasu ('nowe definiowalne')
	new_def - opcjonalny, jesli ustawiony na 'yes' parametr DRAWDEFINABLE
	    powinien byæ liczony w nowy sposób, brak atrubutu odczytywane
	    jest jako 'no'
    Przyk³ad parametru definiowalnego:
    
    <param name="Kocio³ 1:Waga:stosunek energia / masa"
    	short_name="Km" draw_name="Stos. energia/masa" unit="MWh/t" prec="3"
    	base_ind="40">
        <define type="RPN" formula="(*:*:stosunek energia /objêto¶æ;) 1000 * (*:*:masa nasypowa
           w&#x119;gla) / "/>
    </param>
    
  -->
  
  <define name="define">
    <element name="define" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.define"/>
      <optional>
        <ref name="script"/>
      </optional>
    </element>
  </define>
  <define name="attlist.define" combine="interleave">
    <optional>
      <attribute name="type" a:defaultValue="RPN">
        <choice>
          <value>RPN</value>
          <value>DRAWDEFINABLE</value>
          <value>LUA</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="formula" a:defaultValue="null "/>
    </optional>
    <optional>
      <attribute name="lua_formula">
        <choice>
          <value>VA</value>
          <value>AV</value>
          <value>IPC</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="lua_start_date_time"/>
    </optional>
    <optional>
      <attribute name="lua_start_offset"/>
    </optional>
    <optional>
      <attribute name="lua_end_offset"/>
    </optional>
    <optional>
      <attribute name="new_def" a:defaultValue="no">
        <choice>
          <value>no</value>
          <value>yes</value>
        </choice>
      </attribute>
    </optional>
  </define>
  
  <define name="script"> 
    <element name="script" ns="http://www.praterm.com.pl/SZARP/ipk">
      <text/>
    </element> 
  </define>

  <!--
    Element 'value' opisuje dostêpne warto¶ci dla parametrów
    nieliczbowych i odpowiadaj±ce im warto¶ci liczbowe (np "Tak" - 1, "Nie
    - 0). Pojedyczny element opisuje jedn± warto¶æ.
    Atrybuty:
    	int - wymagany, warto¶æ liczbowa (w bazie lub pamiêci
    	dzielonej),
    	name - opis warto¶ci widoczny np. w raportach.
  -->
  
  <define name="value">
    <element name="value" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.value"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.value" combine="interleave">
    <attribute name="int"/>
    <attribute name="name"/>
  </define>
  
  <!--
    Element 'raport' opisuje wyst±pienie parametru w raporcie. Jeden
    parametr mo¿e mieæ wiele elementów 'raport', bêdzie wiêc widoczny w
    wielu raportach.
    Atrybuty:
    	title - wymagany, tytu³ raportu, jest jednocze¶nie
    	identyfikatorem raportu, wiêc ró¿ne raporty musz± mieæ ró¿ne
    	tytu³y,
    	descr - opis parametru w raporcie, je¿eli nie wystêpuje, to
    	jako opis u¿ywana jest ostatnia czê¶æ nazwy parametru,
    	order - liczba rzeczywista, okre¶la kolejno¶æ parametru w 
    	raporcie, im mniejsza tym wy¿ej w raporcie znajdzie siê
    	parametr, parametry bez tego atrybutu s± ustawiane za tymi
    	z priorytetem,
    	filename - nazwa pliku z raportem, je¿eli jej nie ma, to u¿yty
    	bêdzie tytu³, atrybut ten w przysz³o¶ci mo¿e zostaæ usuniêty.
  -->
  
  <define name="raport">
    <element name="raport" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.raport"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.raport" combine="interleave">
    <attribute name="title"/>
    <optional>
      <attribute name="description"/>
    </optional>
    <optional>
      <attribute name="order"/>
    </optional>
    <optional>
      <attribute name="filename"/>
    </optional>
  </define>
  
  <!--
    Opis wykresu. Podobnie jak z raportami parametr mo¿e wystêpowaæ w wielu
    wykresach.
    Atrybuty:
    	title - wymagany, nazwa okna z wykresami (grupy wykresów),
    	max - maksymalna warto¶æ parametru (górny zakres osi), liczba
    	rzeczywista, obecnie wymagana,
    	min - minimalna warto¶æ parametru (dolny zakres osi), liczba
    	rzeczywista, obecnie wymagana,
    	scale - parametr okre¶laj±cy jaka czê¶æ wykresu ma byæ
    	przeskalowana do zakresu podanego przez nastêpne atrybuty,
    	je¿eli jest równy 0 lub nieobecny, przeskalowanie nie
    	wystêpuje, podawany w procentach,
    	minscale, maxscale - dolny i górny zakres warto¶ci ulegaj±cych
    	przeskalowaniu (liczby rzeczywiste),
    	color - kolor wykresu, podany jako sta³a tekstowa lub warto¶æ
    	RGB w postaci szesnastkowej, np. 'Red' lub '#FF1123', je¿eli
    	jest nieobecny kolor zostanie dobrany automatycznie
    	special - atrybut specjalny, domy¶lnie 'none', inne to:
    		piedraw - parametr jest liczony do wykresu ko³owego
    		hoursum - parametr jest liczony do sumowania
    		godzinowego
    		valve - zawory, atrybut dla kompatybilno¶ci wstecz
    		rel - je¶li w oknie s± dwa wykresy, to w oknie
    		dodatkowym pojawi siê wyliczenie stosunku warto¶ci
    		parametrów z wykresów
    		diff - w oknie dodatkowym pojawia siê ró¿nica warto¶ci
    		koñcowej i pocz±tkowej dla wykresu.
    	Dok³adny opis znaczenia atrybutów specjalnych znajduje siê w
    	pliku resources/dcoumentation/draw.ekran.README.html.
    	prior - priorytet okna zawieraj±cego wykres - liczba
    	zmiennoprzecinkowa dodatnia, im mniejsza tym wy¿ej bêdzie okno
    	na li¶cie w programie przegl±daj±cym
    	order - jak prior, ale dotyczy kolejno¶ci wykresu w oknie
  -->
  
  <define name="draw">
    <element name="draw" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.draw"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.draw" combine="interleave">
    <attribute name="title"/>
    <optional>
      <attribute name="max"/>
    </optional>
    <optional>
      <attribute name="min"/>
    </optional>
    <optional>
      <attribute name="scale"/>
    </optional>
    <optional>
      <attribute name="minscale"/>
    </optional>
    <optional>
      <attribute name="maxscale"/>
    </optional>
    <optional>
      <attribute name="color"/>
    </optional>
    <optional>
      <attribute name="prior"/>
    </optional>
    <optional>
      <attribute name="order"/>
    </optional>
    <optional>
      <attribute name="special" a:defaultValue="none">
        <choice>
          <value>piedraw</value>
          <value>hoursum</value>
          <value>valve</value>
          <value>rel</value>
          <value>diff</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
  </define>
  
  <!--
    Element 'send' opisuje parametr wysy³any do sterownika. Mo¿e zawieraæ
    elementy i atrybuty z przestrzeni innych przestrzeni nazw.
    Atrybuty:
    	param - nazwa parametru, którego warto¶æ ma byæ wysy³ana, musi
    	istnieæ parametr o takie nazwie, wymagany,
    	type - rodzaj wysy³anych danych - próbka (domy¶lnie) lub
    	¶rednia podanego rodzaju,
    	repeat - ilo¶æ powtórzeñ je¿eli sterownik nie potwierdzi³
    	przyjêcia parametru.
    	send_no_data - je¶li atrybut jest obecny, to sender wysy³a do
    	sterownika NO_DATA, je¶li nie, to w przypadku braku danych nic
    	nie wysy³a
  -->
  
  <define name="send">
    <element name="send" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.send"/>
      <zeroOrMore>
        <ref name="extra"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.send" combine="interleave">
    <optional>
      <choice>
        <attribute name="param"/>
        <attribute name="value"/>
      </choice>
    </optional>
    <optional>
      <attribute name="type" a:defaultValue="probe">
        <choice>
          <value>probe</value>
          <value>min</value>
          <value>min10</value>
          <value>hour</value>
          <value>day</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="repeat" a:defaultValue="1"/>
    </optional>
    <optional>
      <attribute name="send_no_data"/>
    </optional>
    <zeroOrMore>
      <ref name="extra-attribute"/>
    </zeroOrMore>
  </define>
  
  <!-- element defined zawiera definicje parametrów definiowalnych parcooka -->
  
  <define name="defined">
    <element name="defined" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.defined"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.defined" combine="interleave">
    <empty/>
  </define>
  
  <!-- element drawdefinable zawiera definicje parametrów definiowalnych 
  przegl±daj±cego -->
  
  <define name="drawdefinable" ns="http://www.praterm.com.pl/SZARP/ipk">
    <element name="drawdefinable">
      <ref name="attlist.drawdefinable"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.drawdefinable" combine="interleave">
    <empty/>
  </define>

  <!-- Konfiguracja programu analiza -->
  
  <!-- Obecnosc elementu 'analysis' w elemencie 'param' oznacza,
    ze dane zawarte w tym paramaterze podlegaja analizie.
    Zawiera dwa obowiazkowe atrybuty:
    boiler_no - numer kot³a
    param_type - typ parametru
  	analisys_enable	- zezwolenie od regularora kot³a na analize
	regulator_work_time - czas pracy regulatora kot³a w pracy automatycznej
	coal_volume aktualna - objêto¶æ wchodz±cego do kot³a wêgla
	energy_coal_volume_ratio - aktualna wartosc stosunku energia / objetosc wegla
	air_stream - strumieñ powietrza
	left_grate_speed - prêdko¶æ posuwu lewego rusztu
	right_grate_speed - prêdko¶æ posuwu prawego rusztu
	max_air_stream - gorna granica powietrza w analizie
	min_air_stream - dolna granica powietrza w analizia
        left_coal_gate_height - wysoko¶æ lewej warstwownicy
        right_coal_gate_height - wysoko¶æ pracwej warstwownicy
	analisys_status - status analizy
	air_stream_coal_volume_ratio_result  - rezultat analizy - warto¶æ strumienia powietrza
  -->

  <define name="analysis" combine="interleave">
    <element name="analysis" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.analysis"/>
      <empty/>
    </element>
  </define>

  <define name="attlist.analysis">
      <attribute name="boiler_no"/>
      <attribute name="param_type">
        <choice>
          <value>analysis_enable</value>
          <value>regulator_work_time</value>
          <value>coal_volume</value>
          <value>energy_coal_volume_ratio</value>
          <value>air_stream</value>
          <value>left_grate_speed</value>
          <value>right_grate_speed</value>
          <value>max_air_stream</value>
          <value>min_air_stream</value>
          <value>left_coal_gate_height</value>
          <value>right_coal_gate_height</value>
          <value>analysis_status</value>
          <value>air_stream_result</value>
        </choice>
      </attribute>
  </define>

  <!-- Element 'boilers' opisuje kotly, ktorych praca podlega analizie,
    musi zaiwerac co najmniej jeden element boiler.
    Element 'boiler' opisuje kocio³, zawiera nastepujace obowi±zkowe atrybuty:
  	boiler_no - number kot³a
	grate_speed - procentowa gorna granica zmian predkosci rusztu podczas 
		jednego cyklu analizy 
	coal_gate_height - procentowa gorna granica zmian wysokosci warstwownicy
		podczas jednego cyklu analizy 
	boiler_type - typ kotla
    Element boiler musi zawierac trzy elementy 'interval'
  -->

  <define name="boilers" combine="interleave">
    <element name="boilers" ns="http://www.praterm.com.pl/SZARP/ipk">
      <oneOrMore>
        <element name="boiler" ns="http://www.praterm.com.pl/SZARP/ipk">
          <attribute name="boiler_no"/>
          <attribute name="grate_speed"/>
          <attribute name="coal_gate_height"/>
          <attribute name="boiler_type">
            <choice>
              <value>WR-25</value>
              <value>WR-10</value>
              <value>WR-5</value>
              <value>WR-2,5</value>
              <value>WR-1,25</value>
  	    </choice>
          </attribute>
          <ref name="interval"/>
          <ref name="interval"/>
          <ref name="interval"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  
  <!--
   Element 'interval' opisuje cykl pracy analizy
   Zawiera nastêpuj±ce parametry:
   	grate_speed_lower - dolne ograniczenie predkosci rusztu podczas cyklu
				(wartosc calkowita, jednostka mm/h)
	grate_speed_upper - gorne ograniczenie predkosci rusztu podczas cyklu
				(wartosc calkowita, jednostka mm/h)
	duration - czas trwania cyklu (w sekundach) 
  -->
  <define name="interval" combine="interleave">
    <element name="interval" ns="http://www.praterm.com.pl/SZARP/ipk">
      <ref name="attlist.interval"/>
      <empty/>
    </element>
  </define>

  <!-- Element 'seasons' opisuje sezony letnie, moze zawierac dowolna ilosc 
    elementow 'season' opisujacych sezony dla poszczegolnych lat.
    Element 'seasons' musi zawierac nastepujace atrybuty:
  	month_start - miesiac, w ktorym zaczyna sie sezon letni - liczba z przedzialu (1-12)
	day_start - dzien, w ktorym zaczyna sie sezon letni - liczba z przedialu (1-31)
	month_end - miesiac, w ktorym konczy sie sezon letni - liczba z przedzialu (1-12)
	day_end - miesiac , w ktorym konczy sie sezon letni - liczba z przedialu (1-31)
    Atrybuty elementu seasons definiuja domyslne granice sezonu letniego uzywane, jezeli
    dla danego roku granice te nie sa okresolne za pomoca elementu 'season'.

    Element 'season' zawiera taki same atrybuty jak element 'seasons' oraz dodatkowy atrybut
    'year' okreslajacy rok, ktorego definicja sezonu dotyczy.
  -->

  <define name="seasons" combine="interleave">
    <element name="seasons" ns="http://www.praterm.com.pl/SZARP/ipk">
      <attribute name="month_start"/>
      <attribute name="day_start"/>
      <attribute name="month_end"/>
      <attribute name="day_end"/>
      <zeroOrMore>
        <element name="season" ns="http://www.praterm.com.pl/SZARP/ipk">
          <attribute name="month_start"/>
          <attribute name="day_start"/>
          <attribute name="month_end"/>
	  <attribute name="day_end"/>
	  <attribute name="year"/>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="attlist.interval" combine="interleave">
    <attribute name="grate_speed_lower"/>
    <attribute name="grate_speed_upper"/>
    <attribute name="duration"/>
  </define>

  <!-- Dodatkowe elementy i atrybuty z innych przestrzeni nazw. -->
  
  <define name="extra">
    <element ns="http://wwww.praterm.com.pl/SZARP/ipk">
      <anyName>
        <except>
	  <nsName/>
	  <nsName ns=""/>
	</except>
      </anyName>
        <zeroOrMore>
      	  <choice>
	    <attribute>
	      <anyName/>
	    </attribute>
	    <text/>
	    <ref name="extra"/>
	  </choice>
        </zeroOrMore>
    </element>
  </define>
  
  <define name="extra-attribute">
    <attribute>
      <anyName>
        <except>
	  <nsName/>
	  <nsName ns=""/>
	</except>
      </anyName>
    </attribute>
  </define>
  
  <!-- G³ówny tag dokumentu -->
  
  <start>
    <choice>
      <ref name="params"/>
    </choice>
  </start>
  
</grammar>
